<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Endpoint" value="<insert cosmos db endpoint url>" />
    <add key="PrimaryKey" value="<insert key here>" />
    <add key="DatabaseName" value="Benchmark" />
    <add key="ContainerName" value="myContainer" />

    <add key="AppInsightsKey" value="AppInsightsKey" />

    <add key="AutoscaleMaxThroughput" value="400" />

    <add key="ShouldCleanupOnStart" value="false" />
    <add key="ShouldCleanupOnFinish" value="false" />

    <add key="DegreeOfParallelism" value="4" />
    <add key="NumberOfDocumentsToInsert" value="100000000" />
    <add key="ContainerPartitionKeyPath" value="/id" />
    <add key="DocumentTemplateFile" value="Event.json" />
  </appSettings>
</configuration>

